<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Document</title>
  <script src="../../vue.js"></script>
</head>

<body>
  <div id="app">
    <input type="number" @keyup.enter="inputGrade()" v-model="grade">
    <h1 v-if="grade < 0">不能再低了！！！</h1>
    <h1 v-else-if="grade < 60">不及格</h1>
    <h1 v-else-if="grade >= 60 && grade < 80">良好</h1>
    <h1 v-else-if="grade >= 80 && grade <= 100">优秀</h1>
    <h1 v-else="grade > 100">考不了这么些个分！！！</h1>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      data: {
        grade: 0,
      },
      computed: {},
      methods: {
        inputGrade() {
          console.log(this.grade);
        }
      }
    });
  </script>
</body>

</html>